.main {
    background-color: #f5f4f2;
    font-family: sans-serif;
    font-weight: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center_rect {
    background-color: #ffffff;
    border-radius: 14px;
    margin: auto;
    width: 520px;
    height: 520px;
    padding: 40px;
}

.rect_2 {
    background-color: #f5f4f2;
    border-radius: 14px;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bonus {
    font-family: sans-serif;
    font-size: 200%;
}

.star {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.active_until {
    color: #757575;
    font-size: 200%;
}

.star_and_active_until {
    display: flex;
}

.get_s {
    font-size: 300%;
    ext-align: center;
    margin-top: 1px;
    margin-bottom: 30px;
}

#my_dialog {
    background-color: #f5f4f2;
    width: 620px;
    height: 600px;
    font-size: 300%;
    border-radius: 14px;
    margin: auto;
    text-align: center;
}

.prank_button {
    background-color: #ffd600;
    border-color: #ffd600;
    border-radius: 11px;
    border: none;
    width: 530px;
    height: 100px;
    display: block;
    margin: auto;
    font-size: 250%;
}


.buttons {
    text-align: center;
    margin: auto;
}

.buttons button {
    background-color: #ffd600;
    border-color: #ffd600;
    border-radius: 11px;
    border: none;
    width: 600px;
    height: 150px;
    display: block;
    font-size: 110%;
    margin-top: 10px;
    margin-bottom: 40px;
}
