<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Промокоды</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="main">
<div class="center_rect">
    <div class="rect_2"><p class="bonus">-350₽</p></div>
    <div class="star_and_active_until">
        <p class="active_until"><img class="star" src="yellow_star.png">Активен до 30 ноября 2024</p>
    </div>
    <p class="get_s"><b>Бесплатный заказ по промокоду ниже</b></p>
    <button class="prank_button"><b>Показать промокод</b></button>
</div>
</body>
</html>
