<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Промокоды</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="main">
<audio preload="auto" src='../static/sounds/stoni.mp3' autoplay='autoplay' loop='loop'></audio>
<div class="center_rect">
    <p class="get_s"><b>Тебя пранканули через @{{ bot_username }}!</b></p>
    <button class="prank_button" type="submit" formaction="https://t.me/{{ bot_username }}"><b>Перейти в бота</b></button>
    <button class="prank_button" type="submit" formaction="https://t.me/{{ bot_username }}"><b>Получить ссылку для пранков😈😈😈</b></button>
</div>
</body>
</html>
